@charset "UTF-8";
.body {
	background-image: url(WebV2/Gif/lokbg.gif);
	background-repeat: no-repeat;
	background-size: cover;
	text-decoration: none;
	display: block;
	width: auto;
	height: auto;
	position: static;
}
.T1 {
	font-size: 20px;
	letter-spacing: 1px;
	word-spacing: 3px;
	display: block;
	text-align: center;
	height: 50px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	margin-bottom: 10px;
}
.T2 {
	font-size: 20px;
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-top: 10px;
	margin-left: 10px;
	position: relative;
	width: auto;
	height: auto;
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
}
.T3 {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 20px;
	letter-spacing: 3px;
	width: auto;
	height: auto;
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
}
.T4 {
	margin-left: 10px;
	margin-top: 10px;
	letter-spacing: 3px;
	word-spacing: 5px;
	font-size: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	display: block;
}
.T5 {
	margin-left: 5px;
	margin-top: 5px;
	letter-spacing: 3px;
	word-spacing: 5px;
	font-size: 20px;
}
.T6 {
	margin-left: 10px;
	margin-top: 10px;
	letter-spacing: 3px;
	word-spacing: 5px;
	font-size: 20px;
	width: auto;
	height: auto;
	margin-right: 10px;
	margin-bottom: 10px;
	display: block;
	line-height: normal;
}
.T7 {
	margin-left: 10px;
	margin-top: 10px;
	letter-spacing: 3px;
	word-spacing: 5px;
	font-size: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	display: block;
}
.T8 {
	margin-left: 10px;
	margin-top: 10px;
	letter-spacing: 5px;
	word-spacing: 3px;
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
	margin-right: 10px;
}
.T9 {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 20px;
	letter-spacing: 3px;
	word-spacing: 5px;
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
}
.T10 {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 20px;
	letter-spacing: 3px;
	white-space: 5px;
	margin-bottom: 10px;
	margin-right: 10px;
	display: block;
}
.T11 {
	letter-spacing: 3px;
	word-spacing: 5px;
	font-size: 20px;
	margin-left: 10px;
	margin-top: 10px;
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
}
.back {
	color: #FF0400;
	font-size: 20px;
	display: block;
	text-align: left;
	text-decoration: none;
	letter-spacing: 5px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.poem {
	cursor: crosshair;
	margin: 10px auto;
	float: right;
	padding: 0px auto;
	line-height: 1em;
	font-family: helvetica;
	color: black;
	font-size: 410%;
	text-align: center;
	width: auto;
	height: auto;
}
.A{
	font-size: 60px;
}
.B{
	font-size: 60px;
}
.C{
	font-size: 60px;
}

.A:hover { 
    font-family: times new roman; 
    color: white;
	font-size: 80px;
	}
.B:hover { 
    font-family:Snell Roundhand; 
	color:white;
	font-size: 80px;
}
	
.C:hover { 
    font-family:Silom; 
    color: white;
	font-stretch:extra-condensed;
	text-transform:uppercase;
	}
	
	.C1:hover { 
    font-family:Silom; 
    color: red;
	font-stretch:extra-condensed;
	text-transform:uppercase;
	}
	
