@charset "UTF-8";
.body {
	background-image: url(WebV2/Img/plukbg.png);
	background-size: cover;
	top: -5px;
	left: auto;
	position: absolute;
	width: auto;
	height: auto;
	background-repeat: no-repeat;
	word-break: normal;
}


/*pluk*/
.plukouter{
	height: 300px;
	width: 300px;
	position: absolute;
	top: 67px;
	left: 27px;
}
.plukinner{
	height: 20px;
	width: 60px;
	background: white;
}
img{
	height: auto;
	width: 100px;
	display:none;}
.plukinner:hover img{
	display: block}

/*confrontatie*/
.confouter{
	height: 300px;
	width: 300px;
	position: absolute;
	top: 567px;
	left: 456px;
}
.confinner{
	height: 20px;
	width: 80px;
	background: white;
}
img{
	height: auto;
	width: 100px;
	display:none;}
.confinner:hover img{
	display: block}


/*tussen jou en het dier*/
.tussenouter{
	height: 200px;
	width: 200px;
	position: absolute;
	top: 655px;
	left: 1076px;
}
.tusseninner{
	height: 20px;
	width: 60px;
	background: white;
}
img{
	height: auto;
	width: 100px;
	display:none;}
.tusseninner:hover img{
	display: block}

/*een lokroep om*/
.lokouter{
	height: 300px;
	width: 300px;
	position: absolute;
	top: 273px;
	left: 1090px;
}
.lokinner{
	background: white;
}
img{
	height: auto;
	width: 100px;
	display:none;}
.lokinner:hover img{
	display: block}


/*kom dichterbij*/
.komouter{
	height: 200px;
	width: 200px;
	position: absolute;
	top: 658px;
	left: 780px;
}
.kominner{
	height: 20px;
	width: 60px;
	background: white;
}
img{
	height: auto;
	width: 100px;
	display:none;}
.kominner:hover img{
	display: block;
	height: 80px;
	width: auto;
}

/*plastic*/
.plasouter{
	height: 200px;
	width: 200px;
	position: absolute;
	top: 434px;
	left: 1106px;
}
.plasinner{
	height: 20px;
	width: 60px;
	background: white;
}
img{
	height: auto;
	width: 100px;
	display:none;}
.plasinner:hover img{
	display: block;
	width: 80px;
	height: auto;
}


/*in een podcast*/
.inouter{
	height: 200px;
	width: 200px;
	position: absolute;
	top: 405px;
	left: 802px;
}
.ininner{
	width: 60px;
	background: white;
	height: auto;
}
img{
	height: auto;
	width: 100px;
	display:none;}
.ininner:hover img{
	display: block;
	height: 50px;
	width: auto;
}


/*als kind*/
.alsouter{
	height: 300px;
	width: 300px;
	position: absolute;
	top: 16px;
	left: 955px;
}
.alsinner{
	height: 20px;
	width: 60px;
	background: white;
}
img{
	height: auto;
	width: 100px;
	display:none;}
.alsinner:hover img{
	display: block;
	width: 100px;
	height: auto;
}


/*die*/
.dieouter{
	height: 300px;
	width: 300px;
	position: absolute;
	top: 244px;
	left: 219px;
}
.dieinner{
	height: 20px;
	width: 50px;
	background: white;
}
img{
	height: auto;
	width: 100px;
	display:none;}
.dieinner:hover img{
	display: block}

/*vogel*/
.vogelouter{
	position: absolute;
	top: 420px;
	left: 41px;
}
.vogelinner{
	height: 20px;
	width: 50px;
	margin: 100px;
	background: white;
}
img{
	height: auto;
	width: 100px;
	display:none;}
.vogelinner:hover img{
	display: block}
.ontmoeinner:hover img{
	display: block}

/*de*/
.deouter{
	height: 300px;
	width: 300px;
	position: absolute;
	top: 30px;
	left: 517px;
}
.deinner{
	height: 20px;
	width: 50px;
	background: white;
}
img{
	height: auto;
	width: 100px;
	display:none;}
.deinner:hover img{
	display: block}


/*oerkreten*/
.oerkouter{
	height: 300px;
	width: 300px;
	position: absolute;
	top: 325px;
	left: 528px;
}
.oerkinner{
	height: 20px;
	width: 80px;
	background: white;
	text-align: center;
}
img{
	height: auto;
	width: 100px;
	display:none;}
.oerkinner:hover img{
	display: block}

/*ontmoe*/
.ontmoeouter{
	height: 300px;
	width: 300px;
	position: absolute;
	top: 93px;
	left: 787px;
}
.ontmoeinner{
	height: 20px;
	width: 100px;
	background: white;
	text-align: center;
}
img{
	height: 100px;
	display:none;}
.back {
	font-size: 20px;
	color: #EA062C;
	text-decoration: none;
	letter-spacing: 3px;
	width: auto;
	height: auto;
}
