@charset "UTF-8";
.body {
	background-image: url(WebV2/Gif/OPBGG.gif);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
	height: auto;
	width: auto;
}
.back {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-decoration: none;
	font-size: 30px;
	margin-left: 10px;
	margin-top: 10px;
	letter-spacing: 3px;
	width: 100px;
}
.sun1{
	width: 700px;
	z-index: 6;
	position: absolute;
	display: block;
	top: 5px;
	background-image: url(WebV2/Img/sun1.1.png);
	font-size: 18px;
	left: 500px;
	text-align: undefined;
	height: auto;
	background-repeat: no-repeat;
	background-position: 45% 0%;
	background-size: cover;
}
.h1 {
	padding-left: 5px;
	padding-top: 5px;
	left: 50%;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.gif {
	width: 250px;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	padding-top: 10px;
	padding-left: 10px;
	position: fixed;
	left: 5%;
	top: 30%;
}
.h2{
	/* [disabled]width: 500px; */
	height: auto;
	font-size: 18px;
	word-break: normal;
	display: block;
	max-height: none;
	max-width: 700px;
}
.sun2{
	width: 500px;
	word-break: normal;
	max-width: 500px;
	word-spacing: normal;
	background-image: url(WebV2/Img/sunfull.png);
	position: fixed;
	left: 40%;
	top: 80px;
	background-size: contain;
	background-repeat: no-repeat;
}
.abstract {
	width: 600px;
	position: relative;
	top: 6px;
	margin-left: 5px;
}
.abstract2 {
	width: 250px;
	top: 200px;
	margin-top: 5px;
	margin-left: 5px;
}
.h3 {
	max-height: 20px;
	font-size: 16px;
}
.h4 {
	margin-top: 5px;
	display: block;
}
.h5 {
	margin-top: 5px;
	font-size: 15px;
	margin-bottom: 5px;
	display: block;
}
.h6 {
	display: block;
	font-size: 15px;
}
.h7 {
	display: block;
	font-size: 14px;
	margin-top: 5px;
}
.doline {
	z-index: auto;
	width: 1500px;
	height: auto;
	display: block;
	position: absolute;
	top: -100px;
}
