@charset "UTF-8";
.body {
	background-repeat: no-repeat;
	background-image: url(WebV2/Img/vogelbg.png);
	background-size: 68% auto;
	background-position: 45% 0%;
}
.div{
	text-decoration: none;
	background-repeat: no-repeat;
	background-size: cover;
}
.back {
	font-size: 20px;
	color: #EA062C;
	text-decoration: none;
	text-align: left;
	letter-spacing: 3px;
	width: 200px;
}
